In [1]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]
 
names2[0] = 'Alice'
names3[1] = 'Bob'
 
sum = 0
for ls in (names1, names2, names3):
    if ls[0] == 'Alice':
        sum += 1
    if ls[1] == 'Bob':
        sum += 10
print(sum)

12

In [2]:
names1

['Alice', 'Bear', 'Charlton', 'Daman']

In [3]:
names2

['Alice', 'Bear', 'Charlton', 'Daman']

In [4]:
names3

['Amir', 'Bob', 'Charlton', 'Daman']

In [5]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]

In [6]:
names1, names2, names3

(['Amir', 'Bear', 'Charlton', 'Daman'],
 ['Amir', 'Bear', 'Charlton', 'Daman'],
 ['Amir', 'Bear', 'Charlton', 'Daman'])

In [7]:
sum = 0
for ls in (names1, names2, names3):
    print(ls)

['Amir', 'Bear', 'Charlton', 'Daman']
['Amir', 'Bear', 'Charlton', 'Daman']
['Amir', 'Bear', 'Charlton', 'Daman']

In [8]:
names2[0] = 'Alice'
names3[1] = 'Bob'

In [9]:
names1, names2, names3

(['Alice', 'Bear', 'Charlton', 'Daman'],
 ['Alice', 'Bear', 'Charlton', 'Daman'],
 ['Amir', 'Bob', 'Charlton', 'Daman'])

In [10]:
for ls in (names1, names2, names3):
    print(ls)
    
#     if ls[0] == 'Alice':
#         sum += 1
#     if ls[1] == 'Bob':
#         sum += 10
# print(sum)

['Alice', 'Bear', 'Charlton', 'Daman']
['Alice', 'Bear', 'Charlton', 'Daman']
['Amir', 'Bob', 'Charlton', 'Daman']

In [14]:
ls

['Amir', 'Bob', 'Charlton', 'Daman']

In [11]:
ls[0]

'Amir'

In [12]:
ls[1]

'Bob'

In [13]:
len(ls)

4

In [15]:
for ls in (names1, names2, names3):
    print(ls)
    
    if ls[0] == 'Alice':
        sum += 1
    if ls[1] == 'Bob':
        sum += 10
print(sum)

['Alice', 'Bear', 'Charlton', 'Daman']
['Alice', 'Bear', 'Charlton', 'Daman']
['Amir', 'Bob', 'Charlton', 'Daman']
12

In [18]:
sum = 0
for ls in (names1, names2, names3):
    print(ls)
    
    print(ls[0])
    
    if ls[0] == 'Alice':
        sum += 1
print(sum)

['Alice', 'Bear', 'Charlton', 'Daman']
Alice
['Alice', 'Bear', 'Charlton', 'Daman']
Alice
['Amir', 'Bob', 'Charlton', 'Daman']
Amir
2

In [21]:
sum = 0
for ls in (names1, names2, names3):
    print(ls[1])
    if ls[1] == 'Bob':
        sum += 10
print(sum)

Bear
Bear
Bob
10